.videoContainer{
    margin: 0px auto;
    width: 520px;
    height: 395px;
    border: 10px #333 solid;
}

.canvasContainer {
    margin: 0px auto;
    width: 520px;
    height: 395px;
    border: 10px #333 solid;
}

.videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}